---
tags: "sidebar"
---
<h2>About</h2>
<p>I'm Ryan Robinson. I've been working in technology for my adult (and some of my teen) life, especially websites, Microsoft 365, and CRM systems. I am now primarily focused on website development, particularly in Drupal. On this site I document some of the work I've done, whether within a full-time job, freelance work, volunteering, or as a personal side project. I hope you find it useful.</p>
<p>More information:
	<nav class="side-nav" aria-describedby="about-sidebar-label">
		<h2 class="visually-hidden" id="about-sidebar-label">Top level navigation menu</h2>
		<ul class="top-nav-list">
		{%- for entry in collections.all | eleventyNavigation %}
			<li class="nav-item"><a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a></li>
		{%- endfor %}
		</ul>
	</nav>
<p>If you're interested in more from me beyond tech, see <a href="https://ryanrobinson.ca">ryanrobinson.ca</a>.</p>
<p>If you're interested in more from me, see <a href="https://ryanrobinson.ca">ryanrobinson.ca</a>.</p>
