---
layout: layouts/home.njk
title: Latest Posts
eleventyImport:
  collections: ["posts"]
pagination:
  data: collections.posts
  reverse: true
  size: 20
---

The newest blog posts are available below. You can also use the tag list in the sidebar to jump to posts about a specific topic.
