---
permalink: /search-index.json
---
[
  {%- for post in collections.posts -%}
    {
      "url": {{ post.url | dump }},
      "title": {{ post.data.title | dump }},
      "content": {{ post.templateContent | dump }}
    }
    {%- if not loop.last -%},{%- endif -%}
  {%- endfor -%}
]
