---
pagination:
  data: collections.postsByYear
  size: 1
  alias: yearPage
permalink: /{{ yearPage.key }}/{% if yearPage.pageNumber > 0 %}{{ yearPage.pageNumber + 1 }}/{% endif %}
eleventyComputed:
  title: 'Posts from {{ yearPage.key }}'
---
{% set postList = yearPage.posts %}
{% set pagination = yearPage %}
{% include "post-list-pager.njk" %}