---
title: About
---
<div class="sidebar-container">
  <p>I'm Ryan Robinson. I've been working in technology for my adult life, especially website development. I am now primarily focused on website development, particularly in Drupal. On this site I document some of the work I've done, whether within a full-time job, freelance work, volunteering, or as a personal side project.</p>
</div>
