.postlist { counter-reset: start-from 5 }
/** Styles only needed for the views summarizing multiple posts */

.postlist {
	list-style: none;
	padding: 0;
	padding-left: 1.5rem;
}
.postlist-item {
	display: block;
	margin: 0 1em;
	padding: 0 0 1em 0;
}
.postlist-item:after {
	content: "";
	display: block;
	margin: 0 auto;
	width: 70%;
	border-bottom: 1px solid var(--red);
}

.postlist-date {
	font-size: 0.8em;
}
/* Message Box */
.message-box {
	--color-message-box: #ffc;

	display: block;
	background-color: var(--color-message-box);
	color: var(--color-gray-90);
	padding: 1em 0.625em; /* 16px 10px /16 */
}
.message-box ol {
	margin-top: 0;
}

@media (prefers-color-scheme: dark) {
	.message-box {
		--color-message-box: #082840;
	}
}
.links-nextprev {
	list-style: none;
	border-top: 1px dashed var(--color-gray-20);
	padding: 1em 0;
}

/* Tags */
.post-tag {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-transform: capitalize;
	font-style: italic;
}
.postlist-item > .post-tag {
	align-self: center;
}

/* Tags list */
.post-metadata {
	display: inline-flex;
	flex-wrap: wrap;
	gap: .5em;
	list-style: none;
	padding: 0;
	margin: 0;
}
.post-metadata time {
	margin-right: 1em;
}

/* Direct Links / Markdown Headers */
.header-anchor {
	text-decoration: none;
	font-style: normal;
	font-size: 1em;
	margin-left: .1em;
}
a[href].header-anchor,
a[href].header-anchor:visited {
	color: transparent;
}
a[href].header-anchor:focus,
a[href].header-anchor:hover {
	text-decoration: underline;
}
a[href].header-anchor:focus,
:hover > a[href].header-anchor {
	color: #aaa;
}

h2 + .header-anchor {
	font-size: 1.5em;
}
/* Variables and general site-wide styles */
:root {
    --white: #ffffff;
    --blue: #1b2c58;
    --red: #663333;
    --black: #000000;
    --grey: #d1d9e2;
    --max-width: 1280px;
    --main-gutter-x: 1em;
    --main-gutter-y: 1em;
}

@media (prefers-color-scheme: light) {
	:root {
        --background-color: var(--white);
        --text-color: var(--black);
		--text-color-link: var(--blue);
        --text-color-link-hover: var(--white);
        --text-color-link-hover-background: var(--blue);
		--text-color-link-active: var(--black);
	}
}

@media (prefers-color-scheme: dark) {
	:root {
        --background-color: var(--black);
        --text-color: var(--white);
		--text-color-link: var(--white);
        --text-color-link-hover: var(--red);
        --text-color-link-hover-background: var(--white);
		--text-color-link-active: var(--white);
	}
}

@font-face {
    font-family: "Atkinson Hyperlegible";
    src: url('/Atkinson-Hyperlegible-Regular-102.ttf');
}

/* Global stylesheet */
* {
	box-sizing: border-box;
}

html {
	overflow-y: scroll;
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
	margin: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-size: 16pt;
}

.container {
    display: block;
    width: var(--max-width);
    margin: 0 auto;
	padding: 1em;
}

@media(max-width: 1280px) {
    .container {
        width: 100%;
    }
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

main {
	width: 100%;
	max-width: var(--max-width);
}

p {
	line-height: 1.5;
}

li {
	line-height: 1.5;
}

table {
	margin: 1em 0;
}
table td,
table th {
	padding-right: 1em;
}

pre,
code {
	font-family: var(--font-family-monospace);
}
pre:not([class*="language-"]) {
	margin: .5em 0;
	line-height: 1.375; /* 22px /16 */
	-moz-tab-size: var(--syntax-tab-size);
	-o-tab-size: var(--syntax-tab-size);
	tab-size: var(--syntax-tab-size);
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
}
code {
	word-break: break-all;
}
header {
    width: 100%;
    background-color: var(--red);
    color: var(--white);
    padding: 0 1em;
}

.header-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0 3em;
    padding: 0 var(--main-gutter-x);
}

header .top-nav {
    width: var(--max-width);
}

header .top-nav .top-nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 0.5em 1em;
    margin: 0;
    padding: 0 0 0.5em 0;
    list-style-type: none;
}

header .top-nav .top-nav-list .nav-item a {
    padding: 0.5em;
    color: var(--white);
}

header .top-nav .top-nav-list .nav-item a:is(:focus,:hover) {
    background-color: var(--white);
    color: var(--red);
}
main {
	padding: 1rem;
}
main :first-child {
	margin-top: 0;
}

main a {
    color: var(--text-color-link);
}

main a:is(:hover,:focus) {
    background-color: var(--text-color-link-hover);
    color: var(--white);
}
main a[href]:active {
	color: var(--text-color-link-active);
}
footer {
    width: 100%;
    padding: var(--main-gutter-y) var(--main-gutter-x);
    background-color: var(--red);
    font-size: 0.7em;
}

footer p {
    text-align: center;
}

footer p a {
    color: var(--white);
}

.social-links {
    padding-left: 0;
    list-style-type: none;
}

.social-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}

.social-links svg {
    fill: white;
}

.social-links svg:is(:hover, :focus) {
    background-color: var(--white);
    fill: var(--red);
}