.postlist { counter-reset: start-from 6 }
/* Message Box */
.message-box {
	--color-message-box: #ffc;

	display: block;
	background-color: var(--color-message-box);
	color: var(--color-gray-90);
	padding: 1em 0.625em; /* 16px 10px /16 */
}
.message-box ol {
	margin-top: 0;
}

@media (prefers-color-scheme: dark) {
	.message-box {
		--color-message-box: #082840;
	}
}
/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.links-nextprev {
	list-style: none;
	border-top: 1px dashed var(--color-gray-20);
	padding: 1em 0;
}

/* Posts list */
.postlist {
	list-style: none;
	padding: 0;
	padding-left: 1.5rem;
}
.postlist-item {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	counter-increment: start-from -1;
	margin-bottom: 1em;
}
.postlist-item:before {
	display: inline-block;
	pointer-events: none;
	content: "" counter(start-from, decimal-leading-zero) ". ";
	line-height: 100%;
	text-align: right;
	margin-left: -1.5rem;
}
.postlist-date,
.postlist-item:before {
	font-size: 0.8125em; /* 13px /16 */
	color: var(--color-gray-90);
}
.postlist-date {
	word-spacing: -0.5px;
}
.postlist-link {
	font-size: 1.1875em; /* 19px /16 */
	font-weight: 700;
	flex-basis: calc(100% - 1.5rem);
	padding-left: .25em;
	padding-right: .5em;
	text-underline-position: from-font;
	text-underline-offset: 0;
	text-decoration-thickness: 1px;
}
.postlist-item-active .postlist-link {
	font-weight: bold;
}

/* Tags */
.post-tag {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-transform: capitalize;
	font-style: italic;
}
.postlist-item > .post-tag {
	align-self: center;
}

/* Tags list */
.post-metadata {
	display: inline-flex;
	flex-wrap: wrap;
	gap: .5em;
	list-style: none;
	padding: 0;
	margin: 0;
}
.post-metadata time {
	margin-right: 1em;
}

/* Direct Links / Markdown Headers */
.header-anchor {
	text-decoration: none;
	font-style: normal;
	font-size: 1em;
	margin-left: .1em;
}
a[href].header-anchor,
a[href].header-anchor:visited {
	color: transparent;
}
a[href].header-anchor:focus,
a[href].header-anchor:hover {
	text-decoration: underline;
}
a[href].header-anchor:focus,
:hover > a[href].header-anchor {
	color: #aaa;
}

h2 + .header-anchor {
	font-size: 1.5em;
}
/* Variables and general site-wide styles */
:root {
    --white: #ffffff;
    --blue: #1b2c58;
    --red: #663333;
    --black: #000000;
    --grey: #d1d9e2;
    --nav-width: 12em;
    --main-gutter-x: 1em;
    --main-gutter-y: 1em;
}

@media (prefers-color-scheme: light) {
	:root {
        --background-color: var(--white);
        --text-color: var(--black);
		--text-color-link: var(--red);
		--text-color-link-active: var(--black);
	}
}

@media (prefers-color-scheme: dark) {
	:root {
        --background-color: var(--black);
        --text-color: var(--white);
		--text-color-link: var(--blue);
		--text-color-link-active: var(--white);
	}
}

@font-face {
    font-family: "Atkinson Hyperlegible";
    src: url('/Atkinson-Hyperlegible-Regular-102.ttf');
}

/* Global stylesheet */
* {
	box-sizing: border-box;
}

html {
	overflow-y: scroll;
}

body {
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-size: 16pt;
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1em;
    padding: 0 var(--main-gutter-x);
    background-color: var(--red);
    color: var(--white);
}

p {
	line-height: 1.5;
}
p:last-child {
	margin-bottom: 0;
}

li {
	line-height: 1.5;
}

a {
    color: var(--blue);
}

a:is(:hover,:focus) {
    background-color: var(--blue);
    color: var(--white);
}
a[href]:active {
	color: var(--text-color-link-active);
}

table {
	margin: 1em 0;
}
table td,
table th {
	padding-right: 1em;
}

pre,
code {
	font-family: var(--font-family-monospace);
}
pre:not([class*="language-"]) {
	margin: .5em 0;
	line-height: 1.375; /* 22px /16 */
	-moz-tab-size: var(--syntax-tab-size);
	-o-tab-size: var(--syntax-tab-size);
	tab-size: var(--syntax-tab-size);
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
}
code {
	word-break: break-all;
}
.left-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    width: 12em;
    height: 100%;
    background-color: var(--blue);
}

.left-nav ul {
    padding-left: 0;
    list-style-type: none;
}

.left-nav .nav-links {
    width: 100%;
}

.left-nav .nav-links li {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 0.25em;
    vertical-align: middle;
    font-size: 2rem;
}

.left-nav .nav-links li:is(:hover, :focus) {
    background-color: var(--white);
    color: var(--red);
}

.left-nav .nav-links li a {
    color: inherit;
    text-decoration: none;
}

.left-nav .nav-links li a:is(:hover, :focus) {
    background-color: var(--white);
    color: var(--red);
}

.left-nav .social-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}

.left-nav .social-links svg {
    fill: white;
}

.left-nav .social-links svg:is(:hover, :focus) {
    background-color: var(--white);
    fill: var(--red);
}
body {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--background-color);
    color: var(--text-color);
}

.main-content {
    position: absolute;
    top: 0;
    left: var(--nav-width);
    width: calc(100% - var(--nav-width));
    height: 100%;
}

main {
	padding: 1rem;
}
main :first-child {
	margin-top: 0;
}

.page-content {
    padding: var(--main-gutter-y) var(--main-gutter-x);
}